
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<!--<div class="jumbotron">-->
    <div class="container" id="page-header">
        <h1 class="logo-header-text">
            <div>
                <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
            </div>
            <div id="text">
                {{ .Title }}
            </div>
        </h1>
    </div>
<!--</div>-->

<div class="container" id="container-contact-text">
    <div class="col-md-12">
        <div class="row" id="doc-container">
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
