
{{ partial "header.html" . }}

<div class="container" id="page-header">
    <div class="col-md-2">
        <h1 class="logo-header-text">
            <div>
                <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/meta_logo.png"/></a>
                <div>META<text style='font-family: "Corbel-local" !important;'>-</text>pipe</div>
            </div>
        </h1>
    </div>
    <div class="col-md-8">
        <div id="text">
            <h2>
                {{ .Content }}
            </h2>
        </div>
    </div>
    <div class="col-md-2 help">
        <a href="/help/#/?id=meta-pipe"><button class="btn btn-primary center-block btn-lg">Help</button></a>
    </div>
</div>

<div class="mar">
    <div class="container-db">
        <div id="app">
            <h2>
                &nbsp; &nbsp; Redirecting to META-pipe... &nbsp; &nbsp;
            </h2>
            <h2>
                &nbsp; &nbsp; <a href="https://metapipe.uit.no/">Click here if you are not redirected within a few seconds.</a> &nbsp; &nbsp;
            </h2>
            <meta http-equiv="refresh" content="5;url=https://metapipe.uit.no/" />
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
