
{{ partial "header.html" . }}

<link rel="stylesheet" href="https://unpkg.com/antd@2.6.1/dist/antd.css"/>

<div class="container" id="page-header">
    <div class="col-md-2">
        <h1 class="logo-header-text">
            <div>
                <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mardb_logo.png"/></a>
                <div>{{ .Title }}</div>
            </div>
        </h1>
    </div>
    <div class="col-md-8">
        <div id="text">
            <h2>
                {{ .Content }}
            </h2>
        </div>
    </div>
    <div class="col-md-2 help">
        <a href="/help/#/?id=the-mar-databases"><button class="btn btn-primary center-block btn-lg">Help</button></a>
    </div>
</div>

<div class="mar">
    <div class="container-db">
        <div id="app">
            <h2 id="marAppLoadingText1">Loading, please wait...</h2>
            <h2 id="marAppLoadingText2">The process can take up to 20 seconds, depending on your PC.</h2>
            <a><h2 id="marAppErrorIE" hidden style="color: red">MAR Databases Web Application is not supported by Internet Explorer.</h2></a>
            <script js>
                $('#marAppLoadingText1').prop('hidden', isIE);
                $('#marAppLoadingText2').prop('hidden', isIE);
                $('#marAppErrorIE').prop('hidden', !isIE);
                $("#marAppErrorIE").click(function() {
                    if($("#marAppErrorIE").children().length == 0)
                    {
                        $("#marAppErrorIE").append('<div><br><img style="float:left;height:400px;width:360px;padding-left:7%" src="/images/ie1.png"/><img style="float:right;height:400px;padding-right:7%" src="/images/ie2.jpeg"/></div>')
                    }
                    else
                    {
                        $("#marAppErrorIE").children().remove();
                    }                    
                });
            </script>
            <script type="text/javascript" async="false" defer="false" src="/marApp/bundle.js"></script>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>

{{ partial "footer.html" . }}
