.sidebar ul,.sidebar ul li{
    margin-top: 0;
    margin-bottom: 0;
}

.search {
    margin-bottom: 0.5em;
}

.sidebar .sidebar-nav{
    padding-bottom:10px;
}

div#docsify:empty:before{
    content:"Loading..."
}



.search input {
    font-size:1em;
}
.search .search-keyword,.search a:hover{
    color:#42b983;
    color:var(--theme-color,#42b983);
}
.search .search-keyword{
    font-style:normal;
    font-weight:700;
}

.sidebar{
    border-right:1px solid rgba(0,0,0,.07);
    overflow-y:auto;
    padding:5px 0 0;
    top:0;
    bottom:0;
    left:0;
    position:absolute;
    transition:-webkit-transform .25s ease-out;
    transition:transform .25s ease-out;
    transition:transform .25s ease-out,-webkit-transform .25s ease-out;
    width:300px;
    z-index:3;
}
.sidebar>h1{
    margin:0 auto 16px;
    margin:0 auto 1rem;
    font-size:24px;
    font-size:1.5rem;
    font-weight:300;
    text-align:center;
}
.sidebar>h1 a{
    color:inherit;
    text-decoration:none;
}
.sidebar>h1 .app-nav{
    display:block;
    position:static
}
.sidebar .sidebar-nav{
    line-height:2em;
}
.sidebar ul{
    margin:0;
    padding:0;
}
.sidebar li>p{
    font-weight:700;
    margin:0
}
.sidebar ul,.sidebar ul li{
    list-style:none;
}
.sidebar ul li a{
    border-bottom:none;
    display:block;
}
.sidebar ul li ul{
    padding-left:20px
}
.sidebar::-webkit-scrollbar{
    width:4px
}
.sidebar::-webkit-scrollbar-thumb{
    background:transparent;
    border-radius:4px
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background:hsla(0,0%,53%,.4)
}
.sidebar:hover::-webkit-scrollbar-track{
    background:hsla(0,0%,53%,.1)
}
.sidebar-toggle{
    background-color:transparent;
    background-color:hsla(0,0%,100%,.8);
    border:0;
    outline:none;
    padding:10px;
    bottom:0;
    left:0;
    position:absolute;
    text-align:center;
    transition:opacity .3s;
    width:30px;
    width:284px;
    z-index:4;
    display: none
}
.sidebar-toggle .sidebar-toggle-button:hover{
    opacity:.4
}
.sidebar-toggle span{
    background-color:#42b983;
    background-color:var(--theme-color,#42b983);
    display:block;
    margin-bottom:4px;
    width:16px;
    height:2px
}
body.sticky .sidebar,body.sticky .sidebar-toggle{
    position:fixed
}

body.close .sidebar{
    -webkit-transform:translateX(-300px);
    transform:translateX(-300px)
}
body.close .sidebar-toggle{
    width:auto
}
body.close .content{
    left:0
}
@media print{
    .app-nav,.github-corner,.sidebar,.sidebar-toggle{
        display:none
    }
}
@media screen and (max-width:768px){
    .github-corner,.sidebar,.sidebar-toggle{
        position:fixed
    }
    .app-nav{
        margin-top:16px
    }
    .app-nav li ul{
        top:30px
    }
    main{
        height:auto;
        overflow-x:hidden
    }
    .sidebar{
        left:-300px;
        transition:-webkit-transform .25s ease-out;
        transition:transform .25s ease-out;
        transition:transform .25s ease-out,-webkit-transform .25s ease-out
    }
    .content{
        left:0;
        max-width:100vw;
        position:static;
        padding-top:20px;
        transition:-webkit-transform .25s ease;
        transition:transform .25s ease;
        transition:transform .25s ease,-webkit-transform .25s ease
    }
    .app-nav,.github-corner{
        transition:-webkit-transform .25s ease-out;
        transition:transform .25s ease-out;
        transition:transform .25s ease-out,-webkit-transform .25s ease-out
    }
    .sidebar-toggle{
        background-color:transparent;
        width:auto;
        padding:30px 30px 10px 10px
    }
    body.close .sidebar{
        -webkit-transform:translateX(300px);
        transform:translateX(300px)
    }
    body.close .sidebar-toggle{
        background-color:hsla(0,0%,100%,.8);
        transition:background-color 1s;
        width:284px;
        padding:10px
    }
    body.close .content{
        -webkit-transform:translateX(300px);
        transform:translateX(300px)
    }
    body.close .app-nav,body.close .github-corner{
        display:none
    }
    .github-corner .octo-arm{
        -webkit-animation:a .56s ease-in-out;
        animation:a .56s ease-in-out
    }
    .github-corner:hover .octo-arm{
        -webkit-animation:none;
        animation:none
    }
}

.sidebar{
    background-color:#fff
}
.sidebar{
    color:#364149
}
.sidebar li{
    margin:6px 0 6px 15px
}
.sidebar ul li a{
    color:#505d6b;
    font-size:14px;
    font-weight:400;
    overflow:hidden;
    text-decoration:none;
    text-overflow:ellipsis;
    white-space:nowrap
}
.sidebar ul li a:hover{
    text-decoration:underline
}
.sidebar ul li ul{
    padding:0
}
.sidebar ul li.active>a{
    border-right:2px solid;
    color:#42b983;
    color:var(--theme-color,#42b983);
    font-weight:600
}
.app-sub-sidebar li:before{
    content:"-";
    padding-right:4px;
    float:left
}