
{{ partial "header.html" . }}

<div class="container" id="page-header">
    <div class="col-md-2">
        <h1 class="logo-header-text">
            <div>
                <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/blast_logo.png"/></a>
                <div>{{ .Title }}</div>
            </div>
        </h1>
    </div>
    <div class="col-md-8">
        <div id="text">
            <h2>
                {{ .Content }}
            </h2>
        </div>
    </div>
    <div class="col-md-2 help">
        <a href="/help/#/?id=blast"><button class="btn btn-primary center-block btn-lg">Help</button></a>
    </div>
</div>

<div class="mar">
    <div class="container-blast">
        <h2>
            <a target="_blank" href="https://blast.metapipe.uit.no/">Click here to open the {{ .Title }} page in a new tab</a>
        </h2>
        <iframe class="iframe-blast" name="myIframe" src="https://blast.metapipe.uit.no/">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</div>

{{ partial "footer.html" . }}
