{{ partial "header.html" . }}
  <div class="jumbotron">
    <div class="container">
      <img class="logo" src="/images/mmp_logo.png" />
    </div>
    <h1>{{ .Title }}</h1>
  </div>
  {{- range .Data.Pages }}
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  {{- end }}
{{ partial "footer.html" . -}}
