
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="/css/vue_mod.css" rel="stylesheet">

<div class="container" id="page-header">
    <h1 class="logo-header-text">
        <div>
            <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
        </div>
        <div id="text">
            {{ .Title }}
        </div>
    </h1>
</div>

<div class="container" id="container-contact-text">
    <div class="col-md-12">
        <div class="row" id="doc-container">
            <div id="docsify">Loading...</div>
            <script>
                window.$docsify = {
                    name: '',
                    repo: '',
                    basePath: '/help',
                    homepage: 'help.md',
                    el: '#docsify',
                    search: {
                        paths: ['/'],
                        depth: 6,
                        maxAge: 0,
                    },
                    maxLevel: 3,
                    loadSidebar: false,
                };
                 $(function() {
                    $('.body').css('position', 'absolute');
                    $('.body').css('left', '265px');
                    $('.body').css('width', 'calc(100% - 265px)');
                });
            </script>
            <script src="/js/docsify.min.js?version=1"></script>
            <script src="/js/docsify.search.min.js?version=1"></script>
            <!--<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>-->
            <!--<script src="//unpkg.com/docsify/lib/plugins/search.min.js"></script>-->
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}

