
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>

<div class="container" id="page-header" style='padding-bottom:2%;'>
    <h1 class="logo-header-text">
        <div>
            <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
        </div>
        <div id="text">
            {{ .Title }}
        </div>
    </h1>
</div>

<div class="container" id="container-columns-community" style='padding-bottom:70px;'>
    <div class="col-md-4-community">
        <div class="column-text">
            <h2 class="container-column-header">
                <a>
                    <div class="col-md-5">
                        <img class="logo-notext" src="/images/news_logo.png"/>
                    </div>
                    <div class="col-md-7">
                        <div>
                            News
                        </div>
                    </div>
                </a>
            </h2>
            {{- range .Site.Pages -}}
                {{- if eq .Type "news"}}
                    <h3 class="news-name">{{ .Date.Format "2006, Jan 02" }}: {{ .Title }}</h3>
                    {{ .Content }}
                {{ end }}
            {{- end }}
        </div>
    </div>
    <div class="col-md-4-community">
        <div class="column-text">
            <h2 class="container-column-header">
                <a>
                    <div class="col">
                        <img class="logo-notext" src="/images/twitter_logo.png"/>
                    </div>
                    <div class="col">
                        <div>
                            Twitter
                        </div>
                    </div>
                </a>
            </h2>
        </div>
        <a class="twitter-timeline"
           href="https://twitter.com/UiTSfB"
           data-tweet-limit="6"
           data-height="300">
            Tweets by @SfB-UiT
        </a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4-community">
        <div class="column-text">
            <h2 class="container-column-header">
                <a>
                    <div class="col">
                        <img class="logo-notext" src="/images/events_logo.png"/>
                    </div>
                    <div class="col">
                        <div>
                            Events
                        </div>
                    </div>
                </a>
            </h2>
            {{- range .Site.Pages -}}
                {{- if eq .Type "events"}}
                    <h3 class="news-name">{{ .Title }}</h3>
                    {{ .Content }}
                {{ end }}
            {{- end }}
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}

