
<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">What can we help you with?</h3>
            </div>
            
            <div class="modal-body">
                <form method="post" class="form" id="contactForm">
                    <div class="form-group"><label>Name *</label><input class="form-control required name" name="name" id="name" placeholder="Name" data-placement="top" data-trigger="manual" data-content="Must be not empty." type="text"></div>
                    <div class="form-group"><label>E-Mail *</label><input class="form-control required email" name="email" id="email" placeholder="Email" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (ex. user@gmail.com)." type="text"></div>
                    <div class="form-group"><label>Phone *</label><input class="form-control required phone" name="phone" id="phone" placeholder="Phone number" data-placement="top" data-trigger="manual" data-content="If provided, must contain at least 8 digits, + (plus) is allowed." type="text"></div>
                    <div class="form-group"><label>Message *</label><textarea class="form-control required message" style="resize: vertical;" name="message" id="message" placeholder="Your message..." data-placement="top" data-trigger="manual" data-content="Must be not empty."></textarea></div>
                    <div id="formInfo">
                        <h5 id="formRequiredFields">* Required fields.</h5>
                        <h5 id="captchaLoading">Loading...</h5>
                        <h5 id="captchaProcessing" hidden>Processing...</h5>
                        <h5 id="captchaWrong" hidden>The code you entered was not correct, try again</h5>
                        <h5 id="captchaError" hidden>Error while getting captcha.</h5>
                        <h5 id="captchaAudioErrorIeNeverUseIt" hidden>Audio Captcha not supported by Internet Explorer.</h5>
                    </div>
                    <hr>
                    <div class="captcha" id="captcha">
                        <img id="captchaImage" src="" onclick="getCaptcha()">
                        <input class="required captchaInput" name="captchaInput" id="captchaInput" maxlength="6" placeholder="Enter code..." data-placement="top" data-trigger="manual" data-content="Must contain 6 digits." type="text">
                        <label id="captchaRequiredStar">*</label>
                        <audio id="captchaAudio">
                            <source src="" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                        <div id="captchaAudioControls">
                            <div><span id="captchaAudioPlayStop" class="glyphicon captchaAudioControlButton" onclick="playStop()"></span></div>
                            <div><span id="captchaVolumeOnOff" class="glyphicon captchaVolumeOnOff" onclick="volumeOnOff()"></span></div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group" id="form-buttons">
                        <button type="submit" class="btn btn-success pull-right">Send</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer hide">
                <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
            </div>
            
        </div>
    </div>
</div>



<script js>

    function playStop()
    {
        var audio = document.getElementById('captchaAudio');
        var button = document.getElementById("captchaAudioPlayStop");
        if (audio.paused)
        {
            button.classList.remove('glyphicon-play');
            button.classList.add('glyphicon-stop');
            audio.play();
        }
        else
        {
            button.classList.remove('glyphicon-stop');
            button.classList.add('glyphicon-play');
            audio.pause();
            audio.currentTime = 0;
        }
    };
    
    function volumeOnOff()
    {
        var audio = document.getElementById('captchaAudio');
        var button = document.getElementById("captchaVolumeOnOff");
        if (audio.volume != 0.0)
        {
            button.classList.remove('glyphicon-volume-up');
            button.classList.add('glyphicon-volume-off');
            audio.volume = 0.0;
        }
        else
        {
            button.classList.remove('glyphicon-volume-off');
            button.classList.add('glyphicon-volume-up');
            audio.volume = 1.0;
        }
    };
    
    var captchaID;
    var captchaImage;
    var captchaAudio;
    function getCaptcha()
    {
        $('#captchaLoading').prop('hidden', false);
        $.ajax({
            type: "GET",
            url: "https://mailer.metapipe.uit.no/captcha",
            contentType: "application/json",
            success: function(response)
            {
                $('#captchaLoading').prop('hidden', true);
                captchaID = response.Id;
                captchaImage = "data:image/png;base64,"+response.Img;
                captchaAudio = "data:audio/x-wav;base64,"+response.Audio;
                $("#captchaImage").attr("src", captchaImage);
                $("#captchaAudio").attr("src", captchaAudio);
                document.getElementById("captchaAudioPlayStop").classList.add('glyphicon-play');
                document.getElementById("captchaVolumeOnOff").classList.add('glyphicon-volume-up');
                console.log(captchaID);
                if (isIE)
                {
                    $('#captchaAudioErrorIeNeverUseIt').prop('hidden', false);
                    $("#captchaAudioPlayStop").removeAttr("onclick");
                    $("#captchaVolumeOnOff").removeAttr("onclick");
                }
            },
            error: function(xhr, status, error)
            {
                $('#captchaError').prop('hidden', false);
                $("#captchaInput").val("");
                console.log(xhr.status);
            }
        });
    };
    
    $('#myModal').on('shown.bs.modal', getCaptcha);
    $('#myModal').on('hidden.bs.modal', function () {
        $("#captchaInput").val("");
        $("#captchaInput").popover('hide');
        var captchaID = undefined;
        var captchaImage = undefined;
        var captchaAudio = undefined;
        $("#captchaImage").attr("src", "");
        $("#captchaAudio").attr("src", "");
        document.getElementById("captchaAudioPlayStop").classList.remove('glyphicon-play');
        document.getElementById("captchaVolumeOnOff").classList.remove('glyphicon-volume-up');
        $('#captchaLoading').prop('hidden', false);
        $('#captchaWrong').prop('hidden', true);
        $('#captchaError').prop('hidden', true);
        $('#captchaAudioErrorIeNeverUseIt').prop('hidden', true);
    });
    
    $.fn.goValidate = function()
    {
        var $form = $(document).find('#contactForm');
        $inputs = $form.find('input:text');
        $textarea = $form.find('textarea');
        
        var validators =
        {
            name:
            {
                regex: /^(?!\s*$).+/
            },
            pass:
            {
                regex: /^(?!\s*$).+/
            },
            email:
            {
                regex: /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
            },
            phone:
            {
                regex: /^\+?[0-9]{8,16}$/,
            },
            message:
            {
                regex: /^(?!\s*$).+/
            },
            captchaInput:
            {
                regex: /^[0-9]{6,6}$/
            }
        };
        
        var validate = function(klass, value)
        {
            var isValid = true,
            error = '';
            if (!value && /required/.test(klass))
            {
                error = 'This field is required';
                isValid = false;
            }
            else
            {
                klass = klass.split(/\s/);
                $.each(klass, function(i, k)
                {
                    if (validators[k])
                    {
                        if (value && !validators[k].regex.test(value))
                        {
                            isValid = false;
                            error = validators[k].error;
                        }
                    }
                });
            }
            return {
                isValid: isValid,
                error: error
            }
        };
        
        var showError = function($input)
        {
            var klass = $input.attr('class'),
            value = $input.val(),
            test = validate(klass, value);
            
            $input.removeClass('invalid');
            $('#form-error').addClass('hide');
            
            if (!test.isValid)
            {
                $input.addClass('invalid');
                if(typeof $input.data("shown") == "undefined" || $input.data("shown") == false)
                {
                    $input.popover('show');
                }
            }
            else
            {
                $input.popover('hide');
            }
        };
        
        var submitDisable = function()
        {
            valid = true;
            test = validate($textarea.attr('class'), $textarea.val());
            if (!test.isValid)
            {
                valid = false;
            }
            $inputs.each(function()
            {
                test = validate($(this).attr('class'), $(this).val());
                if (!test.isValid)
                {
                    valid = false;
                }
            });
            if (!valid)
            {
                $form.find('.btn-success').prop('disabled', true);
            }
            else
            {
                $form.find('.btn-success').prop('disabled', false);
            }
        };
        
        var keyup = function ()
        {
            showError($(this));
            submitDisable();
        };
        var onShownPopover = function ()
        {
            $(this).data("shown",true);
        };
        var onHiddenPopover = function ()
        {
            $(this).data("shown",false);
        };
        
        $inputs.keyup(keyup);
        $textarea.keyup(keyup);
        
        $inputs.on('shown.bs.popover', onShownPopover);
        $textarea.on('shown.bs.popover', onShownPopover);
        
        $inputs.on('hidden.bs.popover', onHiddenPopover);
        $textarea.on('hidden.bs.popover', onHiddenPopover);
        
        $form.submit(function(e)
        {
            $form.find('#captchaProcessing').prop('hidden', false);
            $form.find('#captchaAudioErrorIeNeverUseIt').prop('hidden', true);
            $form.find('#captchaWrong').prop('hidden', true);
            $.ajax({
                type: "POST",
                url: "https://mailer.metapipe.uit.no/contact",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    name: $form.find('.name').val(),
                    email: $form.find('.email').val(),
                    phone: $form.find('.phone').val(),
                    message: $form.find('.message').val(),
                    tag: "mmp-support",
                    captchaId: captchaID,
                    captchaText: $form.find('.captchaInput').val()
                },
                success: function(data, textStatus, xhr)
                {
                    console.log(xhr.status);
                    window.location = "/emailsent"
                },
                error: function(xhr, textStatus)
                {
                    console.log(xhr.status);
                    if (xhr.status === 401) {
                        getCaptcha();
                        $form.find('#captchaProcessing').prop('hidden', true);
                        $form.find('#captchaWrong').prop('hidden', false);
                        $form.find('.btn-success').prop('disabled', true);
                    } else {
                        window.location = "/emailnotsent"
                    }
                }
            });
            e.preventDefault();
        });
    
        submitDisable();
    
        return this;
    };
    
    $('form').goValidate();

</script>


