
    <nav class="navbar navbar-inverse navbar-bottom">
        <div class="container-text-muted">
          <div class="text-muted">
              <a style="color: white;" href="https://www.elixir-europe.org/services/marine-metagenomics-portal-mmp" target="_blank"><u>MMP is part of the ELIXIR infrastructure</u></a>
              <span style="color: #909090;"> &nbsp; | &nbsp; </span>
              © 2019 SfB - UiT
              <span style="color: #909090;"> &nbsp; | &nbsp; </span>
              <a style="color: white;" href="/terms"><u>Terms and conditions</u></a> &nbsp; &nbsp; &nbsp; 
              <!--Contact: <a style="color: white;" href="mailto:mmp@uit.no"><u>mmp@uit.no</u></a>-->
          </div>
          
        </div>
        <div><a href="http://www.elixir-norway.org/" target="_blank"><img class="logo-footer-left" src="/images/elixir-norway-edit_logo.png"/></a></div>
        <div><a href="https://www.elixir-europe.org/excelerate" target="_blank"><img class="logo-footer-right" src="/images/excelerate-eu_logo.png"/></a></div>
    </nav>
  </body>
</html>
