<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="/css/style.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/js/ie10-viewport-bug-workaround.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>

		<title>{{ .Title }}</title>
		<link rel="icon" href="/images/favicon.png">

		<script src="/js/image_popup_preview.js" defer></script>

		{{ partial "google-analytics.html" . }}

		{{ partial "matomo-analytics.html" . }}

	</head>
	<body class="body">
	
		<script js>
		
			// Detect IE or not
			var isIE = (navigator.appName == 'Microsoft Internet Explorer') || (typeof $.browser !== "undefined" && $.browser.msie == 1) || (navigator.appName == "Netscape" && navigator.appVersion.indexOf('Trident') !== -1);
			console.log("isIE: " + isIE);
			
			// Pop-up image preview for "Documentation" and "Help", with img source link kept
			$(function() {
				$.each($(this).find('#container-contact-text').find('a'), function() {
					if($(this).find('> img').length)
					{
						$(this).on('click', function() {
							$('#imagepreview').attr('src', $(this).find('> img').attr('src'));
							$('#imagemodal').modal('show');   
							return false;
						});
					}
				});
			});
			
			// For all DOC pages, lower the main elements width limits
			$(function() {
				if($(this).find('#doc-container').length)
				{
					$('.body').css('min-width', '75em');
					$('#page').css('min-width', '75em');
					$('#page').css('width', '70vw');
					$('#page-header').css('min-width', '50em');
					$('#page').css('margin-bottom', '-3em');
				}
			});
			
		</script>
		
		<!-- Pop-up image preview for "Documentation" and "Help": Creates the bootstrap modal where the image will appear -->
		<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 80vw; height: auto;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Image preview</h4>
					</div>
					<div class="modal-body">
						<img src="" id="imagepreview" style="width: 100%; height: auto;">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<nav class="navbar navbar-inverse navbar-top" id="header">
            {{ partial "navbar.html" . }}
        </nav>

