
    <div class="container" id="navbar-container" >
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo-navbar" src="/images/mmp_logo.png"/></a>
        </div>

<!--
        <div class="stats-info">
            <span id="stats-info-text"></span>
        </div>
        <script src="/stats-info/stats_info_values.md">
            /*
                This file is located in "static" folder, and is a javasctript file with ".md" extension.
            */
        </script>
        <script js>
            var index = 0;
            function updateStatsText() {
                var text = statsPreText + statsInfoData[index].value + " " + statsInfoData[index].text;
                $('#stats-info-text').fadeOut(500, function() {
                    $(this).text(text).fadeIn(500);
                });
                index = (index + 1) % statsInfoData.length;
            };
			/*function sleep_ms(millisecs) {
                var initiation = new Date().getTime();
                while ((new Date().getTime() - initiation) < millisecs);
            }*/
            updateStatsText();
            setInterval(updateStatsText, statsTimer); 
        </script>
-->
        
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                {{ $currentNode := . }}

<!--
                {{ range .Site.Menus.main.ByWeight }}
                    <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">
                        {{ if eq (lower .Name) "services" }}
                            <a data-toggle="dropdown" href="{{ .URL }}"><b>{{ upper .Name }}</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{- range $.Site.Pages -}}
                                    {{- if eq .Type "services"}}
                                        {{ .Content }}
                                    {{ end }}
                                {{- end }}
                            </ul>
                        {{ else }}
                            <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>
                        {{ end }}
                        </li>
                    {{ end }}
-->

                {{ range .Site.Menus.main.ByWeight }}
                    <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">
                        {{ if eq (lower .Name) "services" }}
                            <a data-toggle="dropdown" href="{{ .URL }}"><b>{{ upper .Name }}</b> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/meta-pipe">META-pipe</a></li>
                                <li><a href="/databases/marref">MarRef</a></li>
                                <li><a href="/databases/mardb">MarDB</a></li>
                                <li><a href="/databases/marfun">MarFun</a></li>
                                <!--<li><a href="/databases/marcat">MarCat</a></li>-->
                                <li><a href="/databases/saldb">SalDB</a></li>
                                <li><a href="/blast">BLAST</a></li>
                                <li><a href="/metadata">Visualize Marine Metadata</a></li>
                                <li><a href="/downloads">Download Marine Databases</a></li>
                            </ul>
                        {{ else }}
                            <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>
                        {{ end }}
                    </li>
                {{ end }}

                <li>
                    <a href="#myModal" data-toggle="modal"><b>HELPDESK</b></a>
                </li>
                {{ partial "contact-form.html" . }}

            </ul>
        </div>
        
    </div>

