
    <div class="container" id="navbar-container" >
        
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <div class="text-muted">
                    Copyright © 2017 Center for Bioinformatics - UiT.
                </div>
            </a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav dropup">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main.ByWeight }}
                    <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">
                        {{ if eq (lower .Name) "services" }}
                                <a data-toggle="dropdown" href="{{ .URL }}"><b>{{ upper .Name }}</b> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://metapipe.uit.no">META-pipe</a></li>
                                    <li><a href="/databases/marref">MarRef</a></li>
                                    <li><a href="/databases/mardb">MarDB</a></li>
                                    <li><a href="/databases/marcat">MarCat</a></li>
                                    <li><a>BLAST</a></li>
                                    <li><a href="/public/databases">Download Marine Databases</a></li>
                                </ul>
                        {{ else }}
                            <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>
                        {{ end }}
                    </li>
                {{ end }}
            </ul>
        </div>
        
    </div>
