
{{ partial "header.html" . }}

<div class="container" id="page-header">
    <div class="col-md-2">
        <h1 class="logo-header-text">
            <div>
                <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/blast_logo.png"/></a>
                <div>{{ .Title }}</div>
            </div>
        </h1>
    </div>
    <div class="col-md-8">
        <div id="text">
            <h2>
                {{ .Content }}
            </h2>
        </div>
    </div>
    <!--
    <div class="col-md-2 help">
        <a href="/help/#/?id="><button class="btn btn-primary center-block btn-lg">Help</button></a>
    </div>
    -->
</div>

<style>
    #app { width: 2000px; }
    #app {
    -ms-zoom: 0.85;
    -moz-transform: scale(0.85);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.85);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: 0 0;
    }
</style>

<div class="mar">
    <div class="container-db" style="min-width: 0; width: 1700px; height: 1260px;">
        <div id="app">
            <h2 id="openInNewTab">
                <a target="_blank" href="https://mmp-visualization.sfb.uit.no/mmp_interactive">Click here to open the {{ .Title }} page in a new tab</a>
            </h2>
            <iframe class="iframe-blast" id="myIframe" src="https://mmp-visualization.sfb.uit.no/mmp_interactive" scrolling="no" frameBorder="0" style="height: 1325px;">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>
</div>

<!--
<div class="mar">
    <div class="container-db">
        <div id="app">
            <h2>
                <a target="_blank" href="http://m1.sfb.uit.no:5006/mmp_interactive">Click here to open the {{ .Title }} page in a new tab</a>
            </h2>
            <iframe class="iframe-blast" id="myIframe" src="http://m1.sfb.uit.no:5006/mmp_interactive" scrolling="no" style="width: 135em; min-height: 93em;">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>
</div>
-->

{{ partial "footer.html" . }}
