
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
  <div class="col-md-2">
    <h1 class="logo-header-text">
      <div>
        <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
        <div>{{ .Title }}</div>
      </div>
    </h1>
  </div>
  <div class="col-md-10">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
</div>

<div class="container" id="container-columns-index">
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/db_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "indexCol1"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div style="font-size: 88%;">
          {{- range .Site.Pages -}}
            {{- if eq .Type "indexCol1"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/databases">Browse</a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/meta_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              META<text style='font-family: "Corbel-local" !important;'>-</text>pipe
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div style="font-size: 95%;">
          {{- range .Site.Pages -}}
            {{- if eq .Type "indexCol2"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/meta-pipe">Run</a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/blast_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "indexCol3"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div style="font-size: 105%;">
          {{- range .Site.Pages -}}
            {{- if eq .Type "indexCol3"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/blast">BLAST</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/downloads_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "indexCol4"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div style="font-size: 105%;">
          {{- range .Site.Pages -}}
          {{- if eq .Type "indexCol4"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/downloads">Download</a>
    </div>
  </div>
  
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}

