
{{ partial "header.html" . }}

<div class="jumbotron">
    <div class="container">
        <img class="logo" src="/images/mmp_logo.png" />
    </div>
    <h1>{{ .Title }}</h1>
</div>

<div class="jumbotron">
    <div class="container-fluid" id="container-columns">
        <div class="col-md-12">
            {{- range .Data.Pages }}
            <div class="row"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            {{- end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
