{{ partial "header.html" . }}

<div class="jumbotron">
  <div class="container">
    <img class="logo" src="/images/mmp_logo.png" />
  </div>
  <h1>{{ .Title }}</h1>
</div>

<div class="container" id="container-contact-text">
  <div class="col-md-12">
    <div class="row">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
