
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
    <h1 class="logo-header-text">
        <div>
            <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
        </div>
        <div id="text">
            {{ .Title }}
        </div>
    </h1>
</div>

<div class="mar">
    <div class="container-db">
        <div id="app">
            <h2>Unfortunately, we could not send your message.</h2>
            <h1 class="text-center">
                <a role="button" class="btn btn-success btn-lg" href="#myModal" data-toggle="modal">Try again</a>
                &nbsp; &nbsp;
                <a role="button" class="btn btn-primary btn-lg" href="/">Go to the Main page</a>
                &nbsp; &nbsp;
                <a role="button" class="btn btn-info btn-lg" href="/contact">Go to the Contact page</a>
            </h1>
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
