
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
    <h1 class="logo-header-text">
        <div>
            <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/mmp-no-text_logo_v0.png"/></a>
        </div>
        <div id="text">
            {{ .Title }}
        </div>
    </h1>
</div>

<div class="container" id="container-contact-text">
    <div class="col-md-12">
        <div id="text-wrapper">
            <div id="contact-col-left">
                <h2><b>Mail address</b></h2>
                <div><b>The MMP Team</b></div>
                <div>Centre for bioinformatics (SfB)</div>
                <div>Department of Chemistry,</div>
                <div>Faculty of Science and Technology</div>
                <div>UiT The Arctic University of Norway</div>
                <div>9037 Tromsø, Norway</div>
            </div>
            <div id="contact-col-center">
                <div>E-mail: <a href="mailto:mmp@uit.no"><b><u>mmp@uit.no</u></b></a></div>
                <div>Phone: (+47) 77-64-46-51</div>
                <h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Send us a message</a></h1>
            </div>
            <div id="contact-col-right">
                <h2><b>Visiting address</b></h2>
                <div>Siva Innovation Centre</div>
                <div>Sykehusvegen 21, 9019 Tromsø </div>
            </div>
        </div>
        <div class="col-md-12">
            <iframe class="google-maps"
                    src="https://www.google.com/maps/embed/v1/place?q=Sykhusvegen%2021%20Troms%C3%B8%20&key=AIzaSyAtCLyU7zOt8vosN6Bfs8vf322ehEkeBEQ" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
