
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
  <div class="col-md-2">
  <h1 class="logo-header-text">
    <div>
      <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/db_logo.png"/></a>
      <div>{{ .Title }}</div>
    </div>
  </h1>
  </div>
  <div class="col-md-8">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
  <div class="col-md-2 help">
    <a href="/help/#/?id=the-mar-databases"><button class="btn btn-primary center-block btn-lg">Help</button></a>
  </div>
</div>

<div class="db-header-buttons-wrapper">
  <div class="db-header-buttons">
    <a type="button" class="btn db-header-btn" href="/metadata">Visualize</a>
    <a type="button" class="btn db-header-btn" href="/blast">BLAST</a>
    <a type="button" class="btn db-header-btn" href="/downloads">Download</a>
  </div>
</div>

<div class="container" id="container-columns-db">
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/marref_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "databasesCol1"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 12em;">
        <div >
          {{- range .Site.Pages -}}
            {{- if eq .Type "databasesCol1"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn db-browse-btn" href="/databases/marref">Browse</a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/mardb_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "databasesCol2"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 12em;">
        <div>
          {{- range .Site.Pages -}}
            {{- if eq .Type "databasesCol2"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn db-browse-btn" href="/databases/mardb">Browse</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/marfun_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "databasesCol4"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 12em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "databasesCol4"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn db-browse-btn" href="/databases/marfun">Browse</a>
    </div>
  </div>

  <!--
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/marcat_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "databasesCol3"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 12em;">
        <div>
          {{- range .Site.Pages -}}
            {{- if eq .Type "databasesCol3"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn db-browse-btn" href="/databases/marcat">Browse</a>
    </div>
  </div>
  -->

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/saldb_logo.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "databasesCol5"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 12em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "databasesCol5"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn db-browse-btn" href="/databases/saldb">Browse</a>
    </div>
  </div>
  
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
