
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
  <div class="col-md-2">
    <h1 class="logo-header-text">
      <div>
        <a href="{{ .Site.BaseURL }}"><img class="logo-notext-header" src="/images/downloads_logo.png"/></a>
        <div>{{ .Title }}</div>
      </div>
    </h1>
  </div>
  <div class="col-md-8">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
  <div class="col-md-2 help">
    <a href="/help/#/?id=the-mar-download"><button class="btn btn-primary center-block btn-lg">Help</button></a>
  </div>
</div>

<div class="container" id="container-columns">

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "downloadsCol1"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 23em;">
        <div >
          {{- range .Site.Pages -}}
          {{- if eq .Type "downloadsCol1"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a class="btn download-half-right-btn" href="/help/#/?id=contextual-data"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "downloadsCol2"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 23em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "downloadsCol2"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a class="btn download-half-right-btn" href="/help/#/?id=blast-sequence-data"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "downloadsCol3"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 23em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "downloadsCol3"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a class="btn download-half-right-btn" href="/help/#/?id=other-data-resources"><span class="glyphicon glyphicon-question-sign"></span></a>
    </div>
  </div>

</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
