
{{ partial "header.html" . }}

<div class="jumbotron">
    <div class="container" id="page-header">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="/images/mmp_logo.png"/></a>
    </div>
    <h1>{{ .Title }}</h1>
</div>

<div class="jumbotron">
    <div class="container-fluid" id="container-columns">
        <div class="col-md-12">
            <div class="row">
                <div class="container-column-text">
                    {{- range .Data.Pages }}
                    <p style="height: auto; margin-left: 1em; margin-right: 1em;"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
